{% load static %}
<link rel="stylesheet" href="{% static 'core/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">

<div class="navbar">
    <h2>EliteDrive</h2>
</div>

<div class="login-page">
    <div class="login-box">
        <h1>Login zákazník</h1>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input name="username" placeholder="Uživatelské jméno">
            <input name="password" type="password" placeholder="Heslo">
            <button type="submit">Přihlásit</button>
        </form>
    </div>
</div>