{% load static %}
<link rel="stylesheet" href="{% static 'core/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
<div class="navbar">
    <h2>EliteDrive</h2>
    <div>
        <a href="/">Vozový park</a>
        <a href="/rezervace/">Rezervace</a>
    </div>
</div>

<div class="center-page">


    
    <div class="form-box">
        <h1>Rezervace</h1>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>Napište datum formou YEAR-MONTH-DAY</p>
            
            <button type="submit" class="btn">Rezervovat</button>
        </form>
    </div>
    
</div>
