{% load static %}
<link rel="stylesheet" href="{% static 'core/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">


<div class="navbar">
    <h2>EliteDrive</h2>
</div>

<div class="login-page">
    <div class="login-box">
        <h1>Vyberte přihlášení</h1>

        <div class="login-buttons">
            <a href="{% url 'login_zakaznik' %}" class="btn-link">
                Zákazník
            </a>

            <a href="{% url 'login_zamestnanec' %}" class="btn-link secondary">
                Zaměstnanec
            </a>

            
        </div>
        <p class="login-link">
            Nemáte účet?
            <a href="{% url 'registrace' %}">
            Registrovat se
            </a>
    </p>
    </div>
</div>
</div>